In [1]:
print("Hello Julia!")

Hello Julia!

In [2]:
a = "Hello"
b = "Bye"
c = "Cats"

string(a," ",b," ",c)

"Hello Bye Cats"

In [3]:
string("hello",2)

"hello2"

In [4]:
d = 1123
typeof(d)

Int64

In [5]:
10/5

2.0

In [6]:
10\5

0.5

In [7]:
10*1314

13140

In [8]:
10%3

1

In [9]:
2^5

32

In [10]:
13/2

6.5

In [11]:
13รท2

6

In [12]:
x = 10

10

In [13]:
x += -13

-3

In [14]:
x -= -25

22

In [15]:
array = [1,2,3]

3-element Array{Int64,1}:
 1
 2
 3

In [16]:
array.*2 # . makes the multiplication to each element

3-element Array{Int64,1}:
 2
 4
 6

In [17]:
NaN == NaN # interesting

false

In [18]:
NaN < NaN

false

In [19]:
NaN > NaN

false

In [20]:
# interesting. they are like in quantum world. we do not know where they are. hence, all statements are wrong :D except:

NaN != NaN

#  hehehe

true

In [21]:
isequal(5,12)

false

In [22]:
isfinite(pi)

true

In [23]:
isinf(pi)

false

In [24]:
isnan(10)

false

In [25]:
isnan("10") # basically what i am seeing here is that isnan() is not
                #checking the typeof value and returning false with non-int value
                    # I GUESS...

MethodError: MethodError: no method matching isnan(::String)
Closest candidates are:
  isnan(!Matched::BigFloat) at mpfr.jl:892
  isnan(!Matched::Missing) at missing.jl:100
  isnan(!Matched::Float16) at float.jl:536
  ...

In [26]:
isnan(10.0) # just checking if its an int or float..

false

In [27]:
isequal(NaN,NaN)

true

In [28]:
# i did not understand what isequal does exaclty... since NaN = NaN returns false and isequal(NaN,NaN) returns true?? wtf

In [29]:
isequal(5,10/2)

true

In [30]:
1 < 2 <= 2 < 3 == 3 > 2 >= 1 == 1 < 3 != 5 # woaah this is nice

true

In [31]:
A = [0.9,1.5,0.4]

3-element Array{Float64,1}:
 0.9
 1.5
 0.4

In [32]:
0.1.< A .< 1.0  # checks the conditiion for each element of array and returns 1 or 0 for corresponding index to the element

3-element BitArray{1}:
 1
 0
 1

In [33]:
sqrt(121)

11.0

In [34]:
cbrt(1331)

11.0

In [35]:
log10(10^11)

11.0

In [36]:
log(exp(1)^11)

11.0

In [37]:
1im^2 # i've never used imaginary numbers on python... hmm

-1 + 0im

In [38]:
real(1 + 2im) # real part of z

1

In [39]:
imag(1 + 2im) # imaginary part of z

2

In [40]:
abs(1 + 2im)

2.23606797749979

In [41]:
conj(1 + 2im) # complex conjugate of z

1 - 2im

In [42]:
a = 1; b = 2; a + b*im # like a simple func

1 + 2im

In [43]:
a = 5; b = 13; a^b # yeap!

1220703125

In [44]:
complex(3, -4)

3 - 4im

In [45]:
abs(complex(3, -4))

5.0

In [50]:
(2//3)*3

2//1

In [51]:
11//121

1//11

In [52]:
numerator(11//22)

1

In [53]:
denominator(2//3)

3

## Strings

In [54]:
a = "FatihBeyhan"

"FatihBeyhan"

In [55]:
length(a)

11

In [56]:
a[3:end] # does NOT work like python  ==> a[3:]  != "tihBeyhan" , i gotta use "end" a[3:end] = True. Basically end keeps lenght(string)

"tihBeyhan"

In [57]:
a[1:end] # different!! index does NOT start with 0.

"FatihBeyhan"

In [58]:
a[1:2:end] # [x,y,z] x = start , y = steps , z = end --> different order from python [x,z,y]

"Fthehn"

In [59]:
for letter in a[1:3:end]
    print(letter)    # interesting. end is a must. no : or ; . variable name can be anything letter,l,let,lette,asda,...
    
end

Fiea

In [61]:
names = ["Fatih","Ahmet","Mehmet","Jack","Timothy","Alan","Turing"]

7-element Array{String,1}:
 "Fatih"
 "Ahmet"
 "Mehmet"
 "Jack"
 "Timothy"
 "Alan"
 "Turing"

In [64]:
for name in names
    println(name) #print func prints them all together in one row. println prints each for a row
end

Fatih
Ahmet
Mehmet
Jack
Timothy
Alan
Turing

In [65]:
for name in names
    print(name) #print func prints them all together in one row. println prints each for a row
end

FatihAhmetMehmetJackTimothyAlanTuring

In [66]:
name = "Alan"
surname = "Turing"
occupation = "Scientist"

"Scientist"

In [67]:
print("His name is $name $surname. He is a $occupation") # Holds position for any (str,int)external variable --- %s %"hello" python

His name is Alan Turing. He is a Scientist

In [68]:
"1 + 2 = $(1 + 2)" # this is weird. calling a simple func in the string and returning the result

"1 + 2 = 3"

In [69]:
print("I have \$1B in my graveyard")

I have $1B in my graveyard

In [70]:
 findfirst(isequal('p'), "xylophone") # finds first element which fullfill the condition : isequal("o")

5

In [71]:
findnext(isequal('o'), "xylophone", 1) # 1 represents from where to the end

4

In [72]:
findprev(isequal('o'), "xylophone", length("xylophone")) # 5 represents from where to the start

7

In [73]:
occursin("tih","Fatih")

true

In [74]:
repeat("yeah ",10)

"yeah yeah yeah yeah yeah yeah yeah yeah yeah yeah "

In [75]:
join(["hello ","world "]) # or you can use string ("hello ","world")

"hello world "

## Data Structres

In [76]:
tuple_1 = ("julia","python","spark")

("julia", "python", "spark")

In [77]:
tuple_1[2:end]

("python", "spark")

In [78]:
dict_1 = Dict("python" => 300, "c" => 12 , "numpy" => 6, "julia" => 6.5)

Dict{String,Real} with 4 entries:
  "julia"  => 6.5
  "c"      => 12
  "numpy"  => 6
  "python" => 300

In [79]:
dict_1.keys # what are those #undef parts??

16-element Array{String,1}:
 #undef
    "julia"
 #undef
    "c"
 #undef
 #undef
 #undef
 #undef
 #undef
 #undef
 #undef
    "numpy"
 #undef
    "python"
 #undef
 #undef

In [165]:
fibonacci = [1, 1, 2, 3, 5, 8, 13]

for i = 1:lenght(fibonacci)
    fibonacci[i] = fibonacci[i]^2
end

# this is weird. lenght returns an integer however i can not use it on iteration range. 
        # "1:lenght(fibonacci)" suppose to be same with "1:7"

UndefVarError: UndefVarError: lenght not defined

In [167]:
length(fibonacci) # :D???

7

In [169]:
a = 3
for n in 1:a
    println(n)
end

1
2
3

In [170]:
n = 0
while n < 4
    global n += 1
    println(n)
end

1
2
3
4

In [177]:
x, y = 45, -122
if x*y > 0
    x
else x*y < 0
    y

end

-122

In [178]:
# this part is nice;
    # if condition above is equal to:

(x*y > 0) ? x : y

-122

## Functions! (Best part :D )

In [116]:
function s(x,y)
    x + y
end

s (generic function with 1 method)

In [117]:
s(2,4)

6

In [118]:
s(x,y) = x + y

s (generic function with 1 method)

In [119]:
s(3,14141241)

14141244

In [120]:
b = s

s (generic function with 1 method)

In [121]:
b(12,123)

135

In [125]:
f1(x,y) = x + y

f (generic function with 1 method)

In [126]:
f(3,4)

7

In [127]:
function f2(x,y)
    return x*y
    
    x+y
end

f (generic function with 1 method)

In [128]:
f(3,4)

12

In [180]:
f3 = x -> x^2

f3(11^(0.5))

11.0

In [184]:
A = rand(3, 3)

3ร3 Array{Float64,2}:
 0.117703  0.125151  0.213263
 0.351292  0.494988  0.128577
 0.349758  0.579581  0.184741

In [186]:
f3(A)

3ร3 Array{Float64,2}:
 0.132409  0.200282  0.0805916
 0.260204  0.363498  0.162315
 0.309385  0.437731  0.18324

In [202]:
v = [16,4,9,1]

4-element Array{Int64,1}:
 16
  4
  9
  1

In [203]:
# sort(v) = sort!(v)
sort!(v)

4-element Array{Int64,1}:
  1
  4
  9
 16

In [204]:
v

4-element Array{Int64,1}:
  1
  4
  9
 16

In [214]:
a = [1,-1,2,-4]

4-element Array{Int64,1}:
  1
 -1
  2
 -4

In [215]:
sort(a)

4-element Array{Int64,1}:
 -4
 -1
  1
  2

In [216]:
a

4-element Array{Int64,1}:
 -4
 -1
  1
  2

In [217]:
# map & broadcast

f(x) = x^2

map(f, [1, 2, 3])

3-element Array{Int64,1}:
 1
 4
 9

In [218]:
broadcast(f, [1, 2, 3])

3-element Array{Int64,1}:
 1
 4
 9

In [220]:
f.([1,2,3])

3-element Array{Int64,1}:
 1
 4
 9

In [228]:
A = [i + 2*j for j in 0:2, i in 1:3]

3ร3 Array{Int64,2}:
 1  2  3
 3  4  5
 5  6  7

In [229]:
f(A)

3ร3 Array{Int64,2}:
 22  28  34
 40  52  64
 58  76  94

In [230]:
f.(A)

3ร3 Array{Int64,2}:
  1   4   9
  9  16  25
 25  36  49

In [232]:
A .+ 2 .* f.(A) ./ A # Each Element of A = EEA+(2*f(EEA)/EEA) = basically 3*EEA

3ร3 Array{Float64,2}:
  3.0   6.0   9.0
  9.0  12.0  15.0
 15.0  18.0  21.0

In [233]:
# also

broadcast(x -> x + 2 * f(x) / x, A)

3ร3 Array{Float64,2}:
  3.0   6.0   9.0
  9.0  12.0  15.0
 15.0  18.0  21.0

In [234]:
haskey(f(),4)

MethodError: MethodError: no method matching f()
Closest candidates are:
  f(!Matched::Any) at In[217]:3
  f(!Matched::Any, !Matched::Any) at In[127]:2